---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
import settings from '../../../config/settings.js';
import { ThemeSwitcher } from '../../theme-switcher/theme-switcher';
import ClientLogos from '@components/client-show/ClientLogos.astro';

const clients = [
  {
    logoSrc: "/FalconLogo.png",
    alt: "FalconHunt",
    clientName: "FalconHunt",
    width: "100px",
    height: "100px"
  },
  {
    logoSrc: "/FCUniversityLogo.jpg",
    clientName: "FCU",
    height: "100px",
    width: "100px"
  },
  {
    logoSrc: "/FCITDS.jpg",
    clientName: "FCITDS",
    width: "100px",
    height: "100px"
  },
  // Add more client objects...
];
---

<Container>
  <section class="hero-section">
    <div class="hero-text">
      <h1 id="main-head">DARTSEC</h1>
      <p>
        A Cyber Security Startup founded by enthusiastic student researchers and
        their esteemed professor setting new standards in the realm of digital security.
      </p>
      <div class="hero-btns">
        <Button href="/theme/get-started" customIcon>
          Get Started
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
        </Button>
      </div>
      <ClientLogos clients={clients} />
      <!-- {settings.enableThemeSwitcher && <ThemeSwitcher client:only />} -->
    </div>
  </section>
</Container>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const navbar = document.querySelector('nav'); // Adjust the selector based on your navbar element
    const heroSection = document.querySelector('.hero-section');
    if (navbar && heroSection) {
      const navbarHeight = navbar.offsetHeight;
      heroSection.style.setProperty('--navbar-height', `${navbarHeight}px`);
    }
  });
</script>

<style>
  #main-head {
    color: var(--theme-primary);
  }

  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - var(--navbar-height)); /* Full height minus navbar */
    text-align: center;
    padding: 0 var(--section-margin);
  }

  .hero-text {
    max-width: 800px; /* Optional: Limit the max-width of the text container */
  }

  .hero-btns {
    margin: 2rem 0; /* Space above and below the buttons */
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .hero-section {
      padding: 0 1rem; /* Add some padding on smaller screens */
    }
  }
</style>
