---
import { Icon } from 'astro-icon/components';
import { Container, Button } from '@components/odyssey-theme';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
import ClientLogos from '@components/client-show/ClientLogos.astro';

const clients = [
  {
    logoSrc: "/path/to/client1-logo.png",
    alt: "Description of Client 1 logo",
    clientName: "Client 1",
    width: "300px",
  },
  {
    logoSrc: "/path/to/client2-logo.jpg",
    clientName: "Client 2",
    height: "150px",
  },
  // Add more client objects...
];
---


<Container>
  <section class="hero-section__section">
    <div class="hero-section__text">
      <h1 id="main_head">DARTSEC</h1>
      <p>
        A Cyber Security Startup founded by enthusiastic student researchers and
        their esteemed professor setting new standards in the realm of digital security.
      </p>
      <div class="hero-btns__container">
        <Button href="/theme/get-started" customIcon>
          Get Started
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
        </Button>
      </div>
      <ClientLogos clients={clients} />
      <!-- {settings.enableThemeSwitcher && <ThemeSwitcher client:only />} -->
    </div>
  </section>
</Container>

<style>
  #main_head {
    color: var(--theme-primary);
  }
  .hero-section__section {
    margin: var(--section-margin) auto;
    width: 100%;
    min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
    text-align: center;
  }
  .hero-section__text {
    justify-self: center;
  }

  /* Choose either Method 1 or Method 2: */

  /* Method 1 (Flexbox) */
  .hero-btns__container {
    margin: var(--section-margin) auto;
    display: flex;
    justify-content: center;
  }

  /* Method 2 (`margin: 0 auto`) */
  /* .hero-btns__container {
    margin: 0 auto;  // Uncomment if using this method
  } */

  @media (max-width: 768px) {
    .hero-section__section {}
  }
</style>
