---
import { Container, CtaCardSection, FeatureCard, StickyTextImageSection, TextCardSection } from '@components/odyssey-theme';

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';

type cardData = {
	href: string;
	title: string;
	imgSrc: string;
}

const featureCardData = [
  {
    href: "/company/about",
    title: "Cyber Security R&D",
    imgSrc: "/assets/images/home/screenshots/about",
  },
  {
	href: "/company/legal",
    title: "GenAI Security R&D",
    imgSrc: "/assets/images/home/screenshots/legal",
  },
  {
    href: "/company/contact",
    title: "DevOps",
    imgSrc: "/assets/images/home/screenshots/contact",
  },
  // ... Add data for other feature cards
  {
    href: "/company/legal",
    title: "AI Driven Development",
    imgSrc: "/assets/images/home/screenshots/legal",
  },

];

---

<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Services</h2>
			<p>
				We Dabble with the following services and our experts can make your life easier 
			</p>
			<div class="feature-card__grid">
				{featureCardData.map((feature: cardData) => (
					<FeatureCard
					href = {feature.href}
					title = {feature.title}
					imgSrc = {feature.imgSrc}
					></FeatureCard>
				  ))}
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
