---
---

<p class="excaliat-logo">
  <img class="excaliat-logo" src="/logo.png" alt="excaliat Logo">
</p>

<style>
  /* Base styles for all screens */
  .excaliat-logo {
    width: 40%;
    height: auto;
    margin: 0;
  }

  /* Hover effect for all screens */
  .excaliat-logo:hover {
    /* width: 41%; */
    cursor: pointer;
  }

  /* Media queries for different screen sizes */

  /* Small screens (portrait and landscape) */
  @media only screen and (max-width: 767px) {
    .excaliat-logo {
      width: 70%; /* Adjust width for smaller screens */
    }
  }

  /* Medium screens (portrait and landscape) */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .excaliat-logo {
      width: 50%; /* Adjust width for medium screens */
    }
  }

  /* Large screens (desktops) */
  @media only screen and (min-width: 992px) {
    .excaliat-logo {
      width: 40%; /* Use base width for larger screens */
    }
  }
</style>