---
---

<p class="dartsec-logo">
	<img class="dartsec-logo" src="/logo.png" alt="DARTSEC Logo">

</p>
  

<style>
	.dartsec-logo {
  width: 40%; /* or a specific width */
  height: auto; /* maintains aspect ratio */
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.dartsec-logo:hover {
  width: 41%;
  cursor: pointer;
}
</style>
